<div class="container1"  (window:resize)="onCellSize($event)">
    <div>页面resize次数：{{resizeCount}}</div>
    <table #schBoard class="table table-bordered sch-table">
        <thead>
            <tr>
                <th class="sch-section"></th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>11</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="sch-section ">场地1</td>
                <td></td>
                <td></td>
    <td class="sch-cell p-0">
                    <div class="sch-cell-content">
                        <div class="sch-item-1"></div>
                    </div>
                </td>
                <td class="p-0"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
