.container1 {
  padding: 10px;
}

.fix-120 {
  width: 120px;
}

.sch-cell-content {
  position: relative;
  background-color: #ffff00;
  height: 100%;
}

.sch-item {
  // border: 1px solid #999900;
  // background-color: #cfe2ff;
  // border-radius: 4px;
  // height: 100%;
  // position: absolute;
  // left: 0;
  // right: 0;
  /* width: 100%; */
  margin-bottom: 1px;
}

.sch-table {
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
  width: 100%;
  border-left: 1px solid #e3e8eeff;
  border-top: 1px solid #e3e8eeff;
  background-color: #ffffff;
}

.sch-table td {
  height: 30px;
}

.sch-table .sch-section {
  width: 180px;
  position: sticky;
  left: 0;
  background-color: #ffffff;
  z-index: 200;
  padding: 5px;
}

.sch-table thead>tr>th,
.sch-table tbody>tr>td {
  border-right: 1px solid #e3e8eeff;
  border-bottom: 1px solid #e3e8eeff;
  /* padding: 0.3rem; */
}

.sch-table thead>tr>th {
  padding: 5px;
  text-align: center;
}
.sch-table .weekend {
  background-color: rgba(235,235,235,.3);
}

.sch-table .sch-cover {
  display: flex;
  justify-content: center;
  align-items: center;
}