<div class="mb-4">
  <button type="button" class="btn btn-sm btn-outline-info me-2" (click)="getItems()"> get items</button>
  <button type="button" class="btn btn-sm btn-outline-success"  (click)="addItem()" >add Item</button>
  
</div>
<div class="d-flex flex-row">
  <div class="col-2">
    afdsfasd
  </div>
  <div>
    <div style="width:500px;">
      <gridster [options]="options">
        <gridster-item [item]="item" *ngFor="let item of dashboard">
          <div class="button-holder">
            <div class="gridster-item-content" *ngIf="item.hasContent">
              <div class="stuff">
                <span>Some content to select and click without dragging the widget</span>
                <a href="https://www.google.com" target="_blank">Link to Google</a>
              </div>
            </div>
            <div class="item-buttons" *ngIf="item.hasContent">
              <button mat-icon-button mat-raised-button class="drag-handler">
                <mat-icon>open_with</mat-icon>
              </button>
              <button mat-icon-button mat-raised-button class="btn btn-sm remove-button" (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
            <label *ngIf="!item.hasContent">{{item.label}}</label>
            <button type="button" class="btn btn-sm " *ngIf="!item.hasContent" (mousedown)="removeItem($event, item)"
              (touchstart)="removeItem($event, item)">
              <i class="icon icon-delete">delete</i>
            </button>
          </div>
        </gridster-item>
      </gridster>
    </div>
  </div>
  <div></div>
</div>
